/* Globals */
a {
  color: rgb(236,85,152);
}
a.logout {
  color: #8F8F8F
}
a:focus,
a:hover {
  cursor: pointer;
  color: rgb(241,158,85);
  text-decoration: none;
}
.blackText{
  color: black !important;
}
.marginright {
  margin-right: 2%;
}
.marginleft {
  margin-left: 2%;
}
.inline {
  display: inline-block;
}

html,
body {
  text-align: center;
}
body {
  color: #000;
  /* margin: 100px; */
  width: 100%;
  height: 100%;
}
.hide {
  display: none;
}
.landing-heading {
  font-family: 'Lato', Sans-Serif;
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

.controls {
  margin-left: 15px;
  cursor: pointer;
}

.left-text {
  float: left;
}

.left-align {
  text-align: left;
}

#discoverable {
  text-decoration: none;
}
label {font-weight: 400 !important}

hr {
  border-color: #BBBBBB;
}

/* Dropzone */
.dropzone {
  text-align: left;
}

/* scrub bar */
#time-markers {
  margin-top: 3px;
}
#scrub {
  margin-top: 13px;
  width: 60%;
  background-color: #E5E5E5;
  display: inline-block;
}

#scrubbar {
  width: 0%;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(236,85,152);
}

/* Buttons */
.btn {
  font-family: 'Lato', Sans-Serif;
  padding: 0.5625rem 2.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  border-radius: 0 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-lg {
  font-size: 1.5rem;
  padding: 0.6875rem 3.4375rem;
  line-height: 2.5rem;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn-primary {
  color: #fff;
  border: 1px solid #2c96ff;
  background-color: #2c96ff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  border: 1px solid #1a6ec0;
  background-color: #1a6ec0;
}

/* discover icon */

.discover-icon {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.discover-icon:hover,
.discover-icon:focus,
.discover-icon:active {
  color: #7F7F7F;
}

/* Avatar */
.avatar {
  width: 100px;
  height: 100px;
}
.avatar-section {
  margin-bottom: 25px;
  display: flex;
  text-align: left;
}
.username {
  margin-left: 20px;
}

/* Scaffolding */
.site-wrapper {
  margin-top:100px;
  margin-bottom: 100px;
  display: table;
  width: 100%;
  /* height: 100vh; */
}
.site-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  /* height: 100vh; */
}
.panel-authed {
  padding: 0 0 0 0;
}

/* Home button */
.btn-home-hello {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  top: 15px;
  left: 15px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Input */
.upload-ting {
  color: #000;
  padding: 10px;
}
.input-post {
  width: 100%;
  height: 70px;
  border-radius: 6px;
}

.input-tags {
  width: 100%;
  height: 40px;
  border-radius: 6px;
}

.new-postIndex {
  text-align: right;
}

/* Posts */
.posts {
  padding-top: 30px;

}
.post {
  margin: 15px 0px;
  padding: 20px;
  background-color: #E5E5E5;
  border-radius: 6px;
  min-height: 90px;
  text-align: left;
}

.selectable {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable:hover {
  background-color: #B5B5B5;
}

.myAudio {
  float:  right;
}


/* theme */
.theme {
  margin-top: 12px;
  z-index: 5;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 16px;
}

/* dropdown delete menu */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 100px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  /* border-radius: 10px; */
  background: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* footer thing with player */
.footer {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    height: 50px;
    position: fixed;
    bottom:0%;
    width:100%;
    z-index: 3;
    background-color: #fff;
    border-top: 2px solid #000;
}

.grey {
  color: grey;
}

/* queue */
.queue-box {
  background-color: white;
  z-index: 6;
  position: fixed;
  right: 4%;
  bottom: 10%;
  border: 1px solid #ddd;
  box-shadow:10px 10px 20px grey;
  height: 40%;
  width: 25%;

  padding-bottom: 12px;
}

.queue {
  overflow: scroll;
  height: 95%;
  width: 100%;
  padding-left: 4px;
}
.queue div {
  display: block;
  text-align: left;
}

.queue-title {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #D7D7D7;
}

.queue-control {
  float: right;
  margin-right: 16px;
  border-radius: 10px;
}

.queue-control:hover,
.queue-control:focus,
.queue-control:active {
  color: #7F7F7F;
}

.fa-times {
  float: right;
  margin-top: 4px;
  margin-right: 16px;
}

/* The navigation bar */
.navbar {
  padding-left: 10%;
  padding-right: 10%;
    border-radius: 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 3;
    background-color: #fff;
    border-bottom: 2px solid #000;
}

/* Links inside the navbar */
.navbar a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.left a{
    float: left;
}
.left div{
    float: left;
}

.right a{
    float: right;
}
.right div{
  float: right;
}

/* Change background on mouse-over */
.navbar a:hover {
    /* border-radius: 10px; */
    background: #ddd;
    color: black;
}

.header {
  min-height: 100px;
}
.header h1 {
  text-align: left;
}

.input-wrapper {
  width: 100%;
  height: 100px;
}

.input-wrapper::after {
  font-size: 1.5rem;
  line-height: 0;
  height: 0;
  max-width: 100%;
  border-bottom: 3px solid #000;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  overflow: hidden;
  user-select: none;
  color: transparent;
}

.input-big {
  color: #000;
  border: none;
  padding: 0px;
  border-radius: 0px;
  outline: none;
  min-width: 100%;
  font-size: 2.5rem;
  line-height: 3em;
  border-bottom: 2px solid #000;
  background-color: transparent;
}

.save-button{
  color: #000;
  border: none;
  padding: 0px;
  outline: none;
  font-size: 2.5rem;
  background-color: transparent;
}

/* new playlist pop up */
#overlay {
   display:none;    /* This make it initially hidden                                           */
   position:fixed;  /* This makes it so it says in a fixed position even if they scroll around */
   left:0px;        /* This positions the element to the left most position                    */
   top:0px;         /* This positions the elment to the top most position                      */
   width:100%;      /* This makes the element take up 100% of the parents width                */
   height:100%;     /* This makes the element take up 100% of the parents height               */
   background:#000; /* Give it a black background                                              */
   opacity:0.5;     /* Change the opacity to 50% so that is see through.                       */
   z-index:99999;   /* Change the z-index so it will be above everything else                  */
}

#popup {
   display:none;
   position:fixed;
   left:50%;              /* left and top here position top left page                                        */
   top:50%;               /* of the element to the center of the                                             */
   width:500px;           /* Set the popup to have a specific width/height                                   */
   /* height:170px; */
   height: auto;
   margin-top:-250px;      /* To get the popup to center correctly we need                                    */
   margin-left:-250px;    /* To displace the the top/left margins by half of the width/height                */
   background:#FFFFFF;    /* Background of white                                                        */
   z-index:100000;        /* Set z-index to 1 more than that of the overlay so the popup is over the overlay */
   padding: 15px;
}

.col-md-12 {
  display: block;
}

.table-center {
  margin: 0px auto;
}

.up {
  margin-top: -20px;
}

/* upload grid */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #EC5598;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* audio loading */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #EC5598;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


/*feed load */
.lds-circle {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #EC5598;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

/* splash */
header.masthead {
  position: relative;
  width: 100%;
  padding-top: 450px;
  padding-bottom: 100px;
  color: white;
  background: url("../images/bg-pattern.png"), #7b4397;
  background: url("../images/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url("../images/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}

header.masthead .header-content {
  margin-top: 20%;
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer a {
  color: rgba(255, 255, 255, 0.3);
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

canvas {
  z-index: 5;
  position: absolute;
  top: 0; right: 0; bottom: 36%; left: 30%;
  margin: auto;
  max-width: 50%;
  height: auto;
}

/* Features */
section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 100px;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* "http://i64.tinypic.com/15x7m91.jpg" */
/* "http://i65.tinypic.com/abml1k.jpg" */
/* "http://i67.tinypic.com/34yzbqv.jpg"  */
section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("http://i65.tinypic.com/abml1k.jpg");
  background-position: center;
  background-size: cover;
}


section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
